<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tec.fernandoalberto.proyecto_algebra_lineal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/algebralineal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Unidad_1.U1_Operaciones_Basicas_Numeros_Complejos" />
        <activity android:name=".Unidad_1.U1_ConversionesRPE" />
        <activity android:name=".Unidad_1.U1_Potencias_i" />
        <activity android:name=".Unidad_1.U1_Modulo_Numero_Complejo" />
        <activity android:name=".Unidad_1.U1_Operaciones_Forma_Polar" />
        <activity android:name=".Unidad_1.U1_Potencias_Raiz_NComplejos" />
        <activity android:name=".Unidad_2.U2_Transpuesta" />
        <activity android:name=".Unidad_2.U2_Rango" />
        <activity android:name=".Unidad_2.U2_Inversa" />
        <activity android:name=".Unidad_2.U2_Determinante" />
        <activity android:name=".Unidad_2.U2_Operaciones_Matrices" />
        <activity android:name=".Unidad_2.U2_Menores" />
        <activity android:name=".Unidad_2.U2_Cofactor" />
        <activity android:name=".Unidad_2.U2_Adjunta" />
        <activity android:name=".Unidad_4.U4_Independencia_Lineal"></activity>
    </application>

</manifest>